@import '../../sassVars.scss';

.join-room {
  min-height: 100vh;
  font-family: $mainFont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFCF2;
  background: linear-gradient(to left, #02cefd, #3d6cb9);
  .back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 5em;
    border: 1px #FFED17 solid;
    border-radius: 0.5em;
    font-size: 1.2em;
    margin-bottom: 2em;
    align-self: center;
    background: transparent;
    color: #FFFCF2;
    &:hover {
      background: #FFED17;
      color: $fontColor;
      cursor: pointer;
      transition: 0.3s;
    }
  }
  > h2 {
    font-size: 5em;
    margin-bottom: 10px;
  }
  > input {
    font-size: 4em;
    height: 1.2em;
    border-bottom: 1px solid $fontColor;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    text-align: center;
    margin-top: 2em;
    color: #FFFCF2;
    transition: 1s;
    &::placeholder {
      font-family: $mainFont;
      color: #FFFCF2;
    }
    &:focus {
      outline: none;
      background-color: #0099ff;
      border-radius: 10px;
    }
    &:hover {
      background-color: #0099ff;
      border-radius: 10px;
    }
  }
  .guest-name-input {
    font-size: 2em;
    margin-top: 1rem;
    font-family: $secondaryFont;
    &::placeholder {
      font-family: $secondaryFont;
    }
  }
  .join-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 5em;
    border: 1px #FFED17 solid;
    border-radius: 0.5em;
    font-size: 1.2em;
    margin-top: 3em;
    align-self: center;
    background: transparent;
    color: #FFFCF2;
    &:hover {
      background: #FFED17;
      color: $fontColor;
      cursor: pointer;
      transition: 0.3s;
    }
  }
}

@media(max-width: 1024px){
  .join-room {
    height: auto;

    .back-button {
      margin-top: 25px;
    }

    h2 {
      font-size: 7rem;
    }

    .guest-name-input {
      font-size: 3rem;
    }

    input {
      font-size: 5rem;
    }
  }
}

@media(max-width: 768px){
  .join-room {
    height: auto;
    
    .back-button {
      margin-top: 25px;
    }

    h2 {
      font-size: 5.5rem;
    }

    input {
      font-size: 4.3rem;
    }

    .guest-name-input {
      font-size: 2.5rem;
    }
  }
}

@media(min-width: 415px){
  .join-room {

    input {
      font-size: 3rem;
    }
  }
}

@media(max-width: 414px){
  .join-room{
    height: auto;

    .back-button {
      margin-top: 25px;
    }

    h2 {
      font-size: 3.3rem;
    }
  
    input {
      font-size: 2.4em;
    }
  
    .guest-name-input {
      font-size: 1.5em;
    }
  } 
}

@media(max-width: 411px){
  .join-room {
    height: auto;

    h2 {
      font-size: 3.5rem;
    }

    input {
      font-size: 2.3rem;
    }
  }
}

@media(max-width: 375px){
  .join-room {
    height: auto;

    .back-button {
      margin-top: 25px;
    }

    > input {
      font-size: 2.1em;
      height: auto;
    }

    .guest-name-input {
      font-size: 1.4em;
    }
  }
}

@media(max-width: 360px){
  .join-room {
    height: auto;

    h2 {
      font-size: 3rem;
    }

    input {
      font-size: 2rem;
    }

    .guest-name-input {
      font-size: 1.3rem;
    }
  }
}

@media(max-width: 320px){
  .join-room {
    height: auto;

    .back-button {
      margin-top: 25px;
      height: 2rem;
      width: 4rem;
      font-size: 1rem;
    }

    h2 {
      font-size: 2.5rem;
    }
    
    .guest-name-input {
      font-size: 1rem;
    }

    .join-button {
      height: 2rem;
      width: 4rem;
      font-size: 1rem;
    }

    input {
      font-size: 1.7rem;
    }
  }
}