@import '../../sassVars.scss';

.leaderboard {
  font-family: $mainFont;
  color: $fontColor;
  background: $lightGray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  z-index: -3;
  > div {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 500px;
    margin: 6px 0;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    z-index: 1;
  }
  h2 {
    display: inline-block;
    font-size: 1.5em;
    font-family: $secondaryFont;
    flex: 0 0 auto;
    margin: 0 10px;
    z-index: 1;
  }
  .leading-dots {
    flex: 1 1 auto;
    border-bottom: dotted $fontColor;
    z-index: 1;
    position: relative;
    bottom: 3px;
  }
}

.leaderboard-dashboard {
  @extend .leaderboard;
  div {
    max-width: 100%;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .leaderboard {
    h2 {
      font-size: 1.2rem;
    }
  }
}