@import '../../sassVars.scss';
.create {
  padding: 2em;
  font-family: $mainFont;
  background: linear-gradient(to left, #00d1ff, #3d6cb9);
  height: 100vh;
  max-width: 100%;
  color: #FFFCF2;
  .back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 5em;
    border: 1px #FFED17 solid;
    border-radius: 0.5em;
    font-size: 1.2em;
    margin-bottom: 2em;
    align-self: center;
    background: #1da0dd;
    color: #FFFCF2;
    &:hover {
      cursor: pointer;
      background:#FFED17;
      color: $fontColor;
      transition: 0.3s;
    }
  }
  .set-container {
    min-height: 45%;
    max-height: 50%;
    overflow: auto;
    color: $fontColor;
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
    border-radius: .5em;
    background: #FFFCF2;
    box-shadow: 5px 5px 15px #333;
    font-weight: 500;
    padding: 0.5em 0;
    > h2 {
      font-size: 2em;
      margin: 0 auto;
    }
    .set {
      display: flex;
      // flex-direction: row;
      justify-content: space-between;
      margin: 0.4em 2em;
      border-bottom: 0.5px darkgray solid;
      padding: 0.15em;
      align-items: center;
      font-size: 1.5rem;
    }
    .create-button {
      padding: 0.35em 0.65em;
      border: 1px solid #3d6cb9;
      border-radius: 0.3em;
      opacity: 0.8;
      box-shadow: 0.5px 0.5px 5px #333;
      font-size: 1.1rem;
      text-align: center;
      &:hover {
        cursor: pointer;
        color: #FFFCF2;
        background: #00d1ff;
        opacity: 1;
        transition: 0.2s;
        border: 1px solid #FFED17;
      }
    }
    width: 60%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 1160px) {
  .create .set-container {
    width: 70%;
  }
}

@media(max-width: 1020px) {
  .create .set-container {
    .set {
      font-size: 1.2rem;
      .set-name {
        display: flex;
        align-items: center;
        height: 100%;
        overflow-wrap: break-word;
      }
      .create-button {
        width: 120px;
      }
    }
    h2 {
      font-size: 2.75rem;
    }
  } 
}

@media(max-width: 825px) {
  .create .set-container {
    .set {
      font-size: 1rem;
      margin: 0em 2em;
      height: 3.4rem;
      .create-button {
        padding: 0.2em 0.4em;
      }
    }
    h2 {
      font-size: 2.3rem;
    }
  }
}

@media(max-width: 675px) {
  .create {
    padding: 1.5em;
    .set-container {
      width: 90%;
      .set {
        height: 3.6rem;
        font-size: 0.85rem;
        margin: 0em 2em;
      }
      h2 {
        font-size: 2rem;
      }
    }
  } 
}

@media(max-width: 500px) {
  .create .set-container {
    width: 100%;
    .set .create-button {
      width: 112px;
    }
  }
}

@media(max-width: 414px) {
  .create {
    .set-container {
      max-height: 75%;
    }
  }
}

@media(max-width: 400px) {
  .create {
    .back-button {
      margin-top: 1em;
      margin-bottom: 0.75em;
    }
    .set-container {
      margin: 0.9em 1.3em;
      .set {
        margin: 0 1em;
        .create-button {
          font-size: 1rem;
          max-height: 26.03px;
          min-width: 102px;
        }
      }
    }
  } 
}
