@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800|Merriweather');
$mainFont: 'Catamaran', sans-serif;
$secondaryFont: 'Merriweather', serif;
$fontColor: #4B4C53;

.home {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  max-width: 100%;
  // border: 1px black solid;
font-family: $mainFont;
}
.header {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  overflow: hidden;
  > h1 {
    font-family: $mainFont;
    font-weight: 800;
    font-size: 2.8em;
    color: $fontColor;
    width: 4em;
    padding: 0;
    margin: 0;
    // line-height: 0.5em;
  }
  > div {
    > div {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5em 1.6em;
      border: 1px #FFED17 solid;
      color: white;
      border-radius: .55em;
      margin: 0 .8em;
      transition: .2s;
      &:hover {
        cursor: pointer;
        background: #FFED17;
        color: $fontColor;
      }
    }
    display: flex;
    // padding-left: 8em;
  }
}
.big-triangle {
  // height: 90vh;
  // width: 100vw;
  // background-color: blue;
  // position: absolute;
  // left: 20vw;
  // bottom: 40vh;
  // transform: rotate(45deg);
  // z-index: -1;
  height: 0;
  width: 0;
  background-color: transparent;
  position: absolute;
  border-top: 900px solid #006BF6;
  border-bottom: 900px solid transparent;
  border-left: 900px solid transparent;
  border-right: 900px solid transparent;
  z-index: -1;
  top: 0;
  left: 200px;
  
}

.hook {
  height: 26em;
  width: 30em;
  margin: 18em 0 0 5em;
  color: $fontColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  > h2 {
    text-align: left;
    font-family: $mainFont;
    font-size: 3em;
    font-weight: 400;
  }
  > .hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8em 2em;
    background-color: #FFED17;
    color: rgb(116, 116, 116);
    border-radius: .55em;
    transition: .3s;
    &:hover {
      background-color: #006BF6;
      color: white;
      cursor: pointer;
    }
  }
}