@import "../../sassVars.scss";
.home {
  position: relative;
  height: auto;
  width: 100vw;
  overflow: hidden;
  max-width: 100%;
  font-family: $mainFont;
  // background-color: $white;
  min-height: 100vh;
}
.header {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  overflow: hidden;
  > a {
    text-decoration: none;
    .logo {
      cursor: pointer;
      font-family: $mainFont;
      font-weight: 800;
      font-size: 2.8em;
      color: $fontColor;
      width: 4em;
      padding: 0;
      // line-height: 0.5em;
    }
  }
  .hamburger {
    display: none;
  }
  > .button-group {
    display: flex;
    z-index: 1;
    > .button {
      background-color: #00000022;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5em 1.6em;
      border: 1px #ffed17 solid;
      color: $white;
      border-radius: 0.55em;
      margin: 0 0.8em;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        background: #ffed17;
        color: $fontColor;
      }
    }
    // padding-left: 8em;
  }
}
.triangle-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  // z-index: -2;
  pointer-events: none;
}
.big-triangle {
  height: 200vh;
  width: 70vw;
  background: linear-gradient(to right, #3d6cb9, #00d1ff);
  position: relative;
  left: 200px;
  bottom: 200vh;
  transform-origin: bottom left;
  transform: rotate(45deg);
  // height: 0;
  // width: 0;
  // background-color: transparent;
  // position: absolute;
  // border-top: 900px solid #006BF6;
  // border-bottom: 900px solid transparent;
  // border-left: 900px solid transparent;
  // border-right: 900px solid transparent;
  // top: 0;
  // left: 200px;
}
.hook {
  min-height: 40vw;
  width: 30em;
  color: $fontColor;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  > h2 {
    text-align: left;
    font-family: $mainFont;
    font-size: 3em;
    z-index: 1;
    font-weight: 400;
  }
  > .hero-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 2em;
    background-color: #ffed17;
    color: rgb(116, 116, 116);
    border-radius: 0.55em;
    transition: 0.3s;
    &:hover {
      background-color: #006bf6;
      color: white;
      cursor: pointer;
    }
  }
}

@media (max-width: 500px) {
  .header {
    display: block;
    height: auto;
    padding: 0;
    position: relative;
    overflow: visible;
    .logo {
      margin: 1rem;
    }
    .hamburger {
      position: absolute;
      right: 1rem;
      top: 0.5rem;
      display: inline-block;
      border: none;
      background: transparent;
      margin: 0;
      padding: 0.5rem;
      z-index: 6;
      i {
        color: $fontColor;
      }
    }
    > .button-group {
      z-index: 5;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100vw;
      position: absolute;
      top: calc(-100vh - 1rem);
      min-height: 100vh;
      background: #0d89f3;
      height: 100%;
      transition: .4s;
      > .button {
        height: 2.5rem;
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 2rem;
        margin: 2rem;
      }
    }
    .show {
      top: -1rem;
    }
  }
  .hook {
    margin: 10vw;
    width: auto;
    height: 70vh;
    h2 {
      font-size: 2rem;
      margin-bottom: 3rem;
      text-align: center;
    }
    .hero-button {
      z-index: 2;
    }
  }
  .big-triangle {
    left: -100px;
    bottom: 200vh;
    width: 140vw;
  }
}
@media(max-width: 900px) {
  .hook {
    min-height: 50vh;

  }
}
@media(max-width: 1372px) {
  .hook {
    margin-left: 1rem;
  }
  .hook > h2 {
    font-size: 2rem;
  }
}