@import '../../sassVars.scss';

.home {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  max-width: 100%;
  font-family: $mainFont;
  // background-color: $white;
}
.header {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  overflow: hidden;
  > h1 {
    font-family: $mainFont;
    font-weight: 800;
    font-size: 2.8em;
    color: $fontColor;
    width: 4em;
    padding: 0;
    margin: 0;
    // line-height: 0.5em;
  }
  > div {
    > div {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5em 1.6em;
      border: 1px #FFED17 solid;
      color: $fontColor;
      border-radius: .55em;
      margin: 0 .8em;
      transition: .2s;
      &:hover {
        cursor: pointer;
        background: #FFED17;
        color: $fontColor;
      }
    }
    display: flex;
    // padding-left: 8em;
  }
}
.triangle-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -2;
}
.big-triangle {
  height: 200vh;
  width: 70vw;
  background: linear-gradient(to right, #3d6cb9, #00d1ff);
  position: relative;
  left: 200px;
  bottom: 200vh;
  transform-origin: bottom left;
  transform: rotate(45deg);
  z-index: -1;
  // height: 0;
  // width: 0;
  // background-color: transparent;
  // position: absolute;
  // border-top: 900px solid #006BF6;
  // border-bottom: 900px solid transparent;
  // border-left: 900px solid transparent;
  // border-right: 900px solid transparent;
  // z-index: -1;
  // top: 0;
  // left: 200px;
}

.hook {
  height: 26em;
  width: 30em;
  margin: 18em 0 0 5em;
  color: $fontColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  > h2 {
    text-align: left;
    font-family: $mainFont;
    font-size: 3em;
    font-weight: 400;
  }
  > .hero-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8em 2em;
    background-color: #FFED17;
    color: rgb(116, 116, 116);
    border-radius: .55em;
    transition: .3s;
    &:hover {
      background-color: #006BF6;
      color: white;
      cursor: pointer;
    }
  }
}