@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800|Merriweather');
$mainFont: 'Catamaran', sans-serif;
$secondaryFont: 'Merriweather', serif;
$fontColor: #4B4C53;

.modal {
  color: white;
  position: absolute;
  top: 0;
  background-color: #d3d3d3E8;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $mainFont;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    position: relative;
    background-color: blue;
    height: 30rem;
    width: 22rem;
    z-index: 2;
    border: 1px solid #FFED17;
    border-radius: 3rem;
    i {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
    .user-input {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        color: white;
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
      }
      .register {
        padding: .5em 1.6em;
        border: 1px #FFED17 solid;
        border-radius: .55em;
        margin-top: 1.5em;
      }
      > h4 {
        margin-top: 2em;
      }
      .login {
        padding: .5em 1.6em;
        border: 1px #FFED17 solid;
        border-radius: .55em;
        margin-top: 0;
      }
    }
  }
}