@import "../../sassVars.scss";

.dashboard-page {
  font-family: $mainFont;
  height: 100vh;
  .dashboard {
    display: flex;
    justify-content: center;
    height: 100%;
  }
}

.left-container {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 1rem;
    min-width: 14rem;
    min-height: 14rem;
    text-align: center;
    background-color: $lightGray;
    .profile-pic {
      position: absolute;
      left: -8rem;
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      background-color: lightblue;
      overflow: hidden;
    }
    h1,
    h2 {
      display: block;
    }
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    h4 {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      cursor: pointer;
      &:nth-of-type(1) {
        bottom: 2.2rem;
      }
      &:hover {
        color: #0d89f3;
        transition: 0.2s;
      }
    }
  }
  .game-buttons {
    display: flex;
    justify-content: center;
    margin: 1rem;
    a {
      text-decoration: none;
    }
    button {
      background: transparent;
      font-size: 1rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5em 1.6em;
      border: 1px #ffed17 solid;
      border-radius: 0.55em;
      margin: 0 0.8em;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        background: #ffed17;
        color: $fontColor;
      }
    }
  }
  .leaderboard-container {
    margin: 1rem;
  }
}
.right-container {
  width: 20em;
  .my-sets {
    position: relative;
    padding: 1em;
    height: 75%;
    margin: 1em;
    width: 20em;
    background: $lightGray;
    h1 {
      font-size: 2rem;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: $fontColor;
      .create-set-btn {
        position: absolute;
        bottom: 0.5em;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid 1px #0d89f3;
        border-radius: 0.5em;
        padding: 0.5em .6em;
        font-size: 1rem;
        width: auto;
        transition: 0.4s;
        &:hover {
          cursor: pointer;
          background: #0d89f3;
          color: $white;
        }
      }
    }
    .set-card {
      position: relative;
      border: solid 1px #0d89f3;
      margin: 0.2em;
      height: 3em;
      border-radius: 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0em 0.5em;
      cursor: pointer;
      font-size: 1.2rem;
      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
      .set-buttons {
        z-index: 2;
        display: flex;
        flex-direction: column;
        > i {
          padding: 0.2em;
          &:hover {
            color: #0d89f3;
            transition: 0.2s;
          }
        }
      }
    }
  }
}

@media(max-width: 915px) {
  .left-container > .user-info > .profile-pic {
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translate(-50%, 0);
    height: 8rem;
    width: 8rem;
  }
  .dashboard-page > .dashboard {
    margin-top: 4rem;
  }
}