@import "../../sassVars.scss";

.edit-set-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  color: white;
  font-family: $secondaryFont;
  max-height: 80vh;
  margin: 0 1rem;

  h2 {
    font-family: $mainFont;
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  
  .question-list {
    max-height: 50%;
    overflow-y: scroll;
    color: $fontColor;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    border-radius: 0;
    background: $lightGray;
    font-weight: 500;
    margin: 1em;
    width: 50vw;
    padding: 1rem;
    .question-to-display {
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;
      line-height: 1.4rem;
      border-bottom: 0.5px darkgray solid;
      padding: 0.4em;
      align-items: center;
      .edit-item {
        text-align: left;
        margin-left: 0;
      }
    }

    .set-toggle{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10%;
      width: auto;
      border: 1px #0D89F3 solid;
      border-radius: 0.5em;
      font-size: 1.2em;
      // margin-bottom: 2em;
      align-self: center;
      background: transparent;
      color: $fontColor;
      &:hover {
        background: #FFED17;
        color: $fontColor;
        cursor: pointer;
        transition: 0.3s;
      }
    }

  }
}

.confirm-btn-holder {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

}

.confirm-btn {
  height: 2.5rem;
  width: 6rem;
  font-size: 1rem;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: .8em 2em;
  background-color: #006bf6;
  color: aliceblue;
  border-radius: 0.55em;
  transition: 0.3s;
  &:hover {
    background-color: #ffed17;
    color: rgb(116, 116, 116);
    cursor: pointer;
  }
}

@media(min-width: 581px){
  .edit-set-page .question-list .set-toggle{
    display:none;
  }

}


@media(max-width: 580px) {
  .edit-set-page > .hidden{
    display: none;
  }
  .edit-set-page .question-list{
    width: 100vw;
    height: 100%;
  }
  .edit-set-page .question-list .confirm-btn-holder .confirm-btn{
    margin-top: 0;
  }
  .edit-set-page .question-list .confirm-btn-holder{
    margin-bottom: 1rem;
  }

}
