@import "../../sassVars.scss";
$primaryColors: #ff1800, #fff100, #00ff38, #8b13ff;
$secondaryColors: rgb(236, 100, 85), rgb(255, 251, 167), rgb(115, 245, 143),
  rgb(185, 110, 255);

.question {
  background: linear-gradient(45deg, #006bf6, #6cabfe);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  font-family: $mainFont;
  color: white;
  text-align: center;
  padding: 1rem;
  h1,
  h2 {
    font-size: 2.5em;
  }
  h1 {
    font-weight: 700;
  }
  .showAnswers {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .hideAnswers {
    visibility: hidden;
  }
  button {
    box-shadow: 0px 0px 20px #333;
    border-radius: 5px;
    width: 40%;
    height: auto;
    min-height: 5rem;
    border: none;
    margin: 25px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      opacity: .9;
    }
    @for $i from 1 through 4 {
      &:nth-of-type(4n + #{$i}) {
        background: nth($primaryColors, $i);
        &:disabled {
          background: nth($secondaryColors, $i);
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .question {
    min-height: 100vh;
    padding: 50px 1rem;
    justify-content: flex-start;
    h2 {
      font-size: 1.4rem;
    }
    button {
      font-size: 1.2rem;
      width: 90vw;
      margin: 0.5rem 0;
      min-height: 2rem;
      padding: 1rem;
    }
  }
}

@media (max-width: 320px) {
  .question {
    padding: 50px 1rem;
    justify-content: flex-start;
    h1 {
      display: none;
    }
    h2 {
      font-size: 1.2rem;
    }
    button {
      font-size: 1rem;
      width: 90vw;
      margin: 0.3rem 0;
      padding: 1rem;
    }
  }
}