@import '../../sassVars.scss';
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800|Merriweather');
$mainFont: 'Catamaran', sans-serif;
$secondaryFont: 'Merriweather', serif;
$fontColor: rgb(24, 29, 66);

//confetti
$yellow: #ffd300;
$blue: #173dff;
$pink: #ff4e91;

$duration: 1000;

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));
  @return $randomNum;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: $yellow;
  top: 0;
  opacity: 0;

  @for $i from 1 through 49 {
    &:nth-child(#{$i}) {
      left: $i * 2%;
      transform: rotate(#{randomNum(-180, 180)}deg);
      animation: makeItRain $duration * 4ms infinite ease-out;
      animation-delay: #{randomNum(0, $duration * 5.5)}ms;
      animation-duration: #{randomNum($duration * 2.7, $duration * 3.2)}ms
    }
  }

  &:nth-child(odd) {
    background: $blue;
  }

  &:nth-child(even) {
    z-index: 1;
  }

  &:nth-child(4n) {
    width: 5px;
    height: 12px;
    animation-duration: $duration * 3ms;
  }

  &:nth-child(4n-7) {
    background: $pink;
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  to {
    transform: translateY(95vh)
  }
}

.results {
  background-position: fixed;
  background: linear-gradient(45deg, #3d6cb9, #00d1ff);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  font-family: $mainFont;
  color: aliceblue;
}

.question-info {
  margin-top: 5rem;
  text-align: center;
}

.results-question-display {
  font-size: 3rem;
  color: aliceblue;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.results-answer-display {
  font-size: 1.7em;
  color: #FFED17;
  display: flex;
  align-content: center;
  // display: flex;
  // justify-content: center;
  margin-top: 1.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
};

.timer {
  margin-top: 2rem;
}

.ranking {
  margin-top: 2rem;
  height: 30%;
  display: flex;
  margin-top: 1.7rem;
  overflow: auto;
}

.results-score {
  color: aliceblue;
  font-size: 3rem;
  margin-top: 5rem;
}

.player-scores {
  color: #FFED17;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 25vw;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #00d1ff
}

.results-player-info {
  font-size: 1.5rem;
}

.dash-link {
  text-decoration: none;
}

.dash-btn {
  display: flex;
  font-size: 1rem;
  background-color: #FFED17;
  color: $fontColor;
  justify-content: center;
  align-items: center;
  padding: .5em 1.6em;
  border: none;
  border-radius: .55em;
  transition: .2s;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    background: #ea3546;
    color: aliceblue;
  }
  &:focus {
    color: aliceblue;
    background: #ea3546;
    outline: none;
  }
}

@media(max-width: 320px){
  .question-info {
    margin-top: 2rem;
  }

  .results-question-display {
    font-size: 1.5rem;
  }
}