@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800|Merriweather');
$mainFont: 'Catamaran', sans-serif;
$secondaryFont: 'Merriweather', serif;
$fontColor: rgb(24, 29, 66);

.modal-container {
  z-index: 6;
  color: white;
  position: absolute;
  top: 0;
  background-color: #d3d3d3E8;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $mainFont;
  transition: 1s;
}

.hide-modal {
  opacity: 0;
  pointer-events: none;
}
.show-modal {
  opacity: 1;
  pointer-events: all;
}

.modal {
  .content {
    margin-bottom: 15em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: linear-gradient(145deg, #3d6cb9, #00d1ff);
    min-height: 30rem;
    width: 22rem;
    border-radius: 1.1rem;
    i {
      position: absolute;
      right: .8rem;
      top: .5rem;
      cursor: pointer;
      transition: .2s;
    }
    i:hover {
      color: #FFED17;
      opacity: 1;
    }
    h2 {
      font-family: $mainFont;
      font-size: 2em;
      margin-top: 1.2em;
    }
    .button {
      margin-top: 1rem;
      display: flex;
      font-size: 1rem;
      background: transparent;
      color: white;
      justify-content: center;
      align-items: center;
      padding: .5em 1.6em;
      border: 1px #FFED17 solid;
      border-radius: .55em;
      transition: .2s;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        background: #FFED17;
        color: $fontColor;
      }
      &:focus {
        color: $fontColor;
        background: #FFED17;
        outline: none;
      }
    }
    .switch-modal {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h4 {
        margin-bottom: 5px;
      }
    }
  }
}
.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    margin-top: 2em;
    width: 20em;
    padding: 4px 8px;
    background: transparent;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    transition: .3s;
    &::placeholder {
      font-family: $mainFont;
      color: white;
    }
    &:focus {
      outline: none;
      background-color: #6CABFE;
      border-radius: 5px;
    }
  }
  .edit-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .delete {
    margin-top: 1rem;
    display: flex;
    font-size: 1rem;
    background: transparent;
    color: white;
    justify-content: center;
    align-items: center;
    padding: .5em 1.6em;
    border: none;
    border-radius: .55em;
    transition: .2s;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      color: #FFED17;
    }
  }
}

@media(max-width: 500px) {
  .modal-container {
    height: 100vh;
  }
  .modal {
    .content {
      min-height: 100vh;
      min-width: 100vw;
      margin: 0;
      i {
        top: 1rem;
        right: 1.5rem;
      }
    }
  }
}