@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800|Merriweather");
$mainFont: "Catamaran", sans-serif;
$secondaryFont: "Merriweather", serif;
$fontColor: #4b4c53;
$white: #FFFCF2;
$lightGray: #F4F4F4;
$backgroundGradient: linear-gradient(45deg, #3d6cb9, #00d1ff);